body {
    background: rgb(41, 50, 82);  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(41, 50, 82), #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(41, 50, 82), #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #000;
}

.title {
    font-family: 'Lobster', cursive;
}

.done {
    text-decoration: line-through;
    color: #cfcfcf;
}